.div {
    display:inline-table;

    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-gap: 5px; */
    /* justify-items: flex-end;
    align-items: center; */
    margin: 10px;
 }
  
  /* .div:hover {
    width:20%;
    transition:width 1s;
  } */
  
  .img {
    width: 13em;
    height: auto
  }
  